/* CONFIGURAÇÕES INICIAIS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul {
    all: unset;
}
  
li {
    all: unset;
    height: 100%;
}

a {
    text-decoration: none;
    color: yellowgreen;
}

header {
    background-color: rgba(0, 0, 0, 0.400);
    width: 100%;
    position: fixed;
}

.container {
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: aquamarine;
    display: flex;
    width: 160px;
    align-items: center;
}

.cadastro {
    width: 40%;
}

.cadastro ul {
    display: flex;
    justify-content: space-between;
}

.joel {
    background-image: url(../assets/Ellie-Joel.jpg);
    height: 130vh;
    background-size: cover;
}