/* CONFIGURAÇÕES INICIAIS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* HOME */
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul {
    all: unset;
}
  
li {
    all: unset;
    height: 100%;
}

a {
    text-decoration: none;
    color: rgb(164, 204, 83);
}

header {
    background-color: rgba(0, 0, 0, 0.400);
    width: 100%;
    position: fixed;
}

.container {
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: aquamarine;
    display: flex;
    width: 160px;
    align-items: center;
}

.cadastro {
    width: 27.2%;
}

.cadastro ul {
    display: flex;
    justify-content: space-between;
}

.banner {
    background-image:url(../assets/cadastro.jpeg);
    padding: 140px 0;
    background-size: cover;
}

.banner .container {
    /* border: solid 1px violet; */
    display: flex;
    justify-content: end;
    height: 425px;
    width: 1100px;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
}

.caixa-formulario-login {
    /* border: solid 1px violet; */
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 300px;
}

.caixa-formulario-login .campo {
    /* border: solid 1px violet; */
    display: flex;
    flex-direction: column;
    height: 100px;
    line-height: 10px;
}

.caixa-formulario-login  input {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 2px #fff;
    text-align: center;
}

.caixa-formulario-login  h2, label {
    color: #fff;
}

.caixa-formulario-login  button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: 0.6s;
    margin-top: -20px;
    width: 130px;
    height: 40px;
    border-radius: 15px;
}

.caixa-formulario-login  button:hover {
    cursor: pointer;
    background-color: rgb(164, 204, 83);
}

/* Rodapé */
footer {
    background-color: #070707;
    color: #fff;
    width: 100%;
    height: 10vh;
}